<!--<p> This is a server Component</p>
<p>{{'Server'}} number {{serverId}} is {{getServerStatus()}}</p>
<button class="btn btn-primary" [disabled]="!allowdisabledAction" (click)="onServerClick()">Action
</button>
<input type="text" (input)="onServerEvent($event)">
<br>
<br>
<input type="text" [(ngModel)]="serverName">
<p *ngIf="serverCreated; else noServer;">Server is created ,servername is {{serverName}}</p>
<br>

<p [ngStyle]='{backgroundColor : getColor()}' [ngClass]="{online : serverStatus === 'online'}" >Sever is {{serverStatus}}</p>
<ng-template #noServer>
  <p>No server is created</p>
</ng-template>
<p>{{serverName}}</p>
<p>{{allowdisabledAction}}</p>
<p>{{currentServerStatus}}</p>
<p *ngFor ="let server of servers">serverName</p> -->
<button class="btn btn-success" (click)="onButtonClick()">Add Server</button>
<br/>
<br/>
<div class="list-group">
  <a class="list-group-item" *ngFor="let server of servers; let i=index" (click)="onClickDelete(i)" >{{server}}</a>
</div>



